# Virtual Environment
venv/
env/
.env/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

build_enhanced.py
console_launcher.py
debug_launcher.py
Orchetrix.spec
version.txt
logs

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Local development settings
*.local

# Operating System
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# Coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover