# Required Python packages for Orchestrix
PyQt6==6.8.1
PyQt6-Qt6==6.8.2
PyQt6-sip==13.10.0
pyyaml==6.0.2
kubernetes==32.0.1
requests==2.32.3
python-dateutil==2.9.0.post0
setuptools>=40.8.0
wheel>=0.38.4
psutil
